@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br>
<a class="btn btn-primary btn-lg" href="@Url.Content("~/images/cat.jpg.thumb.axd?width=100&height=150&refpoint=TopLeft&crop=true")">TESTE THUMB</a>

